body{
    background-color: aliceblue;
}
img{
    width: 500px;
    height: 380px;
}
.containar{
    width: 500px;
    height: 420px;
    border: 1px solid black;
    margin: 50px;
    padding: 10px;
    background-color: rgb(39, 42, 43);
}
.button{
    display: flex;
    justify-content: space-between;
    

}
button{
    width: 60px;
    height: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    background-color: blue;
    border: none;
}
button:hover{
    background-color: rgb(191, 191, 243);
}
button:active{
    background-color: rgb(106, 106, 241);
}
p{
    font-size: 18px;
    color: rgb(223, 203, 240);
}
h2{
    color: rgb(6, 61, 43);
    margin-bottom: -50px;
    margin-left: 100px;
}